<div>
  <h1>
    テーブルサンプル１
  </h1>
  <h2>ngFor & requireデータ取得方式版</h2>
  <table class="reqireTable">
    <!-- データヘッダの配列をループでセット -->
    <!-- table.component.ts L17-31 -->
    <tr>
      <td *ngFor="let rec of headrData">{{rec.title}}</td>
    </tr>
    <!-- データの配列をループでセット -->
    <!-- table.component.ts L13-15, L36-37 -->
    <tr *ngFor="let rec of recArray">
      <td>{{rec.id}}</td>
      <td>{{rec.firstName}}</td>
      <td>{{rec.lastName}}</td>
    </tr>
  </table>

  <br>
  <app-button [title]="'戻る'" [routerLink]="['/']"></app-button>

</div>
